/* comandos gerais */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
/* nav incio */
.hidden-list {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 3cm;
    overflow: hidden;
    position: fixed;
    background-color: #fff;
    width: 100%;
}
section {
    padding-top: 3cm; 
}

.logo-title {
    font-size: 28px;
    padding-top: 37px;
}

.logo-title a {
    text-decoration: none;
    color: #e2a6b0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo img {
    width: 150px;
    height: 150px;
}

.nav-list {
    display: flex;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-list li {
    margin-right: 32px;
    margin-right: 32px;
}

.nav-list li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: rgb(165, 101, 42);
    font-weight: bold;
    transition: 0.1s;
}

.nav-list li a:hover {
    font-size: 18px;
    box-shadow: 0px 1px 0px rgb(0, 0, 0);
}

.nav-contact ul {
    list-style-type: none;
    padding: 25px 22px;
    font-family:'Times New Roman', Times, serif;
}

.nav-contact li {
    padding-top:10px;
    color: rgb(165, 101, 42);;
}

.nav-contact i {
    color: #e2a6b0;
    padding-right: 5px;
}

.nav-itens-responsive {
    display: none;
}

.nav-itens {
    padding-top: 45px;
    margin-right: 32px;
}

/* nav fim */

/* banner inicio */ 
.banner-img {
    background: url(../assets/img/banner1.jpeg) no-repeat
    center center;
    background-size:cover;
    height: 86vh;
}
/* banner fim */ 

/* fotos inicio */
.text {
    width: 50%;
    margin-left: 50px;
    margin-right: 50px;
    border: #e2a6b0 1px solid;
    padding: 25px;
}

.text h2 {
    color: #e2a6b0;
}

/* 412x480 */
.img-section {
    display: flex;
    padding-top: 90px;
    justify-content: center;
}

.img-box {
    height: 350px;
    margin-left: 50px;
    margin-right: 50px;
    width: 412px;
    overflow: hidden;
    background: #ffe4e8;
    text-align: center;
    border-radius: 50%;
    border: #e2a6b0 2px solid;
}

.img-box-responsive {
    display: none;
}

.img-section img {
    width: 200px;
    height: 250px;
    margin: 50px;
    border-radius: 10px;
    border-bottom-left-radius:0;
    border-top-right-radius: 0;
}

/* fotos inicio */

/* rodapé inicio */

.footer {
    background:#ffe4e8;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer-title {
    font-size: 28px;
}

.footer-title a {
    text-decoration: none;
    color: rgb(165, 101, 42);
}

.footer-social i {  
    color: #e2a6b0;
    padding: 5px;
    font-size: 20px;
}

.footer-text {
    color: rgb(165, 101, 42);
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}

/* rodapé fim */

/* responsivo inicio */

/* nav inicio */

/* Width */
@media (max-width:815px) {
    .nav-itens {
        display: none;
    }
    .nav-itens-responsive {
        display: flex;
        padding-top: 45px;
    }
} 

@media (max-width:710px) {
    .nav-contact {
        font-size: 10px;
    }
}

@media (max-width:590px) {
    .nav-contact {
        display: none;
    }
}

@media (max-width:415px) {
    .logo-title {
        display: none;
    }
}
/* nav fim */

/* fotos inicio */

@media (max-width:910px) {
    .img-box {  
        width:600px;
    }
}

@media (max-width: 783px) {
    .img-box {
        display: none;
    }
    .img-box-responsive {
        display: flex;
        justify-content: center;
    }
}

/* fotos fim */
/* responsivo fim */

